body {
  margin: 0;
}
body header {
  min-height: 20vw;
  background: url("../images/main_photo.jpg") right top;
  background-size: cover;
  padding: 50px;
}
body header .gitlogo {
  display: block;
  position: absolute;
  background-image: url("../images/GitHub-Mark-64px.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  top: 0;
  left: 20px;
}
body header p {
  margin: 0;
  font-size: 150%;
}
body header h1 {
  margin: 0;
  font-size: 230%;
  max-width: 75%;
}
body header .contacts {
  max-width: 70%;
  margin-top: 25px;
}
@media screen and (max-width: 510px) {
  body header .contacts {
    display: none;
  }
}
body header .contacts a {
  color: black;
}
body main h2 {
  padding: 15px;
}
body main article {
  padding: 10px;
  border-bottom: #c7c7c7 solid 1px;
}
body .filler {
  height: 50px;
}
body footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  background: #090974;
  padding: 8px;
}
body footer a {
  height: 33px;
}
iframe {
  width: 100%;
  max-width: 853px;
  height: 56vw;
  max-height: 480px;
  margin: o auto;
}
